#containerT{
  min-height: 4px;
  position: relative;
}
#clock{
  text-align: center;
  font-size:15px;
  background-color: transparent;
  color: white;
  position: absolute;
  top: 75%;
  left: 50%;
}
* {
  box-sizing: border-box;
}

body {
  background-color: white;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  max-width: 400px;
  height: 400px;
  gap: 20px;
  margin: 80px auto;
  animation: resize 3000ms ease infinite both;
}

.item {
  --color2: 36;
  --color2: 76;
  --delay: 0ms;
  background-color: hsl(var(--color1), 100%, 60%);
  animation: colorChange 10000ms ease var(--delay) infinite;
  
  &:nth-child(1n) {
    --delay: 2000ms;
  }
  &:nth-child(2n) {
    --delay: 4000ms;
  }
  &:nth-child(3n) {
    --delay: 6000ms;
  }
  &:nth-child(4n) {
    --delay: 8000ms;
  }
  &:nth-child(5n) {
    --delay: 10000ms;
  }
}

@keyframes colorChange {
  0% {
    background-color: hwb(45 93% 5%);
  }
  
  25% {
    background-color: hwb(64 0% 1%);
  }
    
  50% {
    background-color: hwb(200 97% 2%);
  }
  
  75% {
    background-color: hwb(300 95% 2%);
  }
  
  100% {
    background-color: hwb(34 94% 4%);
  }
}

@keyframes resize {
  0% {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  
  25% {
    grid-template-columns: 1fr 2fr 3fr;
    grid-template-rows: 1fr 2fr 3fr;
  }
  
  50% {
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
  }
  
  75% {
    grid-template-columns: 3fr 2fr 1fr;
    grid-template-rows: 3fr 2fr 1fr;
  }
  
  100% {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}