#containerT{
  min-height: 4px;
  position: relative;
}
#clock{
  text-align: center;
  font-size:15px;
  background-color: transparent;
  color: white;
  position: absolute;
  top: 75%;
  left: 50%;
}